@media screen and (min-width: 1200px) {

    .container {
        max-width: 1158px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

.header-list {
    display: flex;
}
.header-contacts-list {
    display: flex;
    margin-left: auto;
}



/* --------------Hero section------------ */
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-desk.jpeg);
  }

.hero-title {
    width: 500px;
}

  
/* --------------Skills section------------ */

.skills {
    padding-top: 120px;
    padding-bottom: 120px;
}
.skills-list {
    flex-wrap: nowrap;
    gap: 24px;
}
.skills-list-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.skills-icon-wrap {
    display: contents;
    background: #F4F4FD;
    border-radius: 4px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.skills-list-item {
    width: calc((100% - 72px) / 4);
}

/* --------------Mission section------------ */

.mission {
    display: contents;
    padding-bottom: 120px;
}

.mission-list {
    margin-top: 72px;
    display: flex;
    gap: 24px;
}

.mission-title {
    margin-bottom: 72px;
}

.mission-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--main-text-color);
}

    /* --------------Team section------------ */
    
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team > .container {
        padding-left: 0;
        padding-right: 0;
    }
    
    .team-list {
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;   
    }
    
    .team-list-item {
        flex-basis: calc((100% - 72px) / 4); 
        }

    .card {
        padding: 32px 16px;
        }


 /* --------------CUSTOMERS section------------ */
 .customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.customers-item {
    width: calc((100% - 120px) / 6);
}
/* --------------FOOTER section------------ */
.footer {
    display: flex;
    gap: 120px;

    padding-top: 100px;
    padding-bottom: 100px;
}

.footer >.container{

    flex-wrap: nowrap;
    gap: 0;
} 

.logo-white {
    margin-left: 0;
    margin-right: 0;
}

.social-media {
    margin-left: 120px;
}

.social-media-text {
    text-align: left;
}
.subscribe > .social-media-text {
    text-align: left;
}

.subscribe {
    margin-left: 80px;
}

.subscribe-form {
    gap: 24px;
    flex-wrap: nowrap;
    row-gap: 0;
    justify-content: left;
    
}
.subscribe-input {
    width: 264px;
}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-desk-2x.jpeg);
  }
}