@media screen and (min-width: 768px) and (max-width:1199px) {
 
    .container {
    max-width: 768px;
  }

  .header-list {
    display: flex;
}
.header-contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    max-width: 119px;
    gap: 4px;
}

.header-contacts-list .item + .item {
    margin-left: 0;
}

.contacts-item {
    padding: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: var(#434455)
}

.menu-toggle {
    display: none;
}
  /* --------------Hero section------------ */
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-tab.jpeg);
  }

/* --------------Skills section------------ */
/* .skills > .container {
    width: 736px;
} */

.skills-list {
    justify-content: center;
    column-gap: 24px;
}

.skills-list-item {
    width: calc((100% - 24px) / 2);
}

.skills-list-title {
    text-align: left;
}

    /* --------------Team section------------ */

.team {
    padding-top: 96px;
    padding-bottom: 104px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
}

.team > .container {
    max-width: none;
    padding-left: 108px;
    padding-right: 108px;
}

.team-list-item {
    width: calc((100% - 24px) / 2); 
    }

/* --------------CUSTOMERS section------------ */

.customers-list {
    column-gap: 24px;
}

.customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
}
/* --------------FOOTER section------------ */
.footer-logo {
    justify-content: center;
    display: inline-block;
}

.footer >.container{
    column-gap: 24px;
}

.social-media-text {
    text-align: left;
}

.subscribe > .social-media-text {
    text-align: left;
}

.subscribe-input {
    width: 264px;
}

.subscribe-form {
    column-gap: 24px;
    justify-content: center;
}
    
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-tab-2x.jpeg);
  }
}